<h1>Character Search</h1>
<p><h2>There are <%= @count %> members of <%= params[:nation] %>.</h2></p>
<p><h2><%= params[:nation] %> Members: </h2></p>
<% @characters.each do |character| %>
<%= character.name %>
<% end %>
